In [0]:
%run "./02 Creating Spark Data Frame to Select and Rename Columns"

In [0]:
help(users_df.select)

In [0]:
users_df.select('*').show()

In [0]:
users_df.select('id', 'first_name', 'last_name').show()

In [0]:
users_df.select(['id', 'first_name', 'last_name']).show()

In [0]:
# Defining alias to the dataframe
users_df.alias('u').select('u.*').show()

In [0]:
users_df.alias('u').select('u.id', 'u.first_name', 'u.last_name').show()

In [0]:
from pyspark.sql.functions import col

In [0]:
users_df.select(col('id'), 'first_name', 'last_name').show()

In [0]:
from pyspark.sql.functions import col, concat, lit

In [0]:
users_df.select(
    col('id'), 
    'first_name', 
    'last_name',
    concat(col('first_name'), lit(', '), col('last_name')).alias('full_name')
).show()